@font-face {
    font-family: Arina;
    src: url(../fonts/Arina.ttf);
}
button {
    font-family: Helvetica;
}
button, input[type=submit] {
    cursor: pointer;
}
.showBtn {
    margin: 10px 0px 10px calc(75% - 170px);
    width: 150px;
    height: 30px;
    border-radius: 0px;
    border: 1px solid #828282;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
}
.showBtn:hover {
    background-color: #bebebe;
}
.shelf {
    width: 50%;
    margin: 0 auto;
    border-spacing: 10px;
    background-color: #fafafa;
}
.shelf-book {
    background-color: #f0f0f0;
    transition: background-color 0.3s ease-in-out;
    -webkit-transition: background-color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out;
}
.shelf-book:hover {
    background-color: #dcdcdc;
}
.shelf-book-image {
    text-align: center;
    width: 220px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
}
.shelf-book-image:hover {
    transform: scale(1.1);
}
.shelf-book-image-cover img {
    background-color: #fff;
    height: 300px;
    width: 200px;
}
.shelf-book-desc {
    height: 300px;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    font-family: Arina;
}
.shelf-book-desc h1 {
    margin: 5px 0px;
    font-size: 34px;
}
.shelf-book-desc h2 {
    margin: 5px 0px;
    font-size: 24px;
}
.shelf-book-desc h3 {
    margin: 5px 0px;
    font-size: 22px;
}
.shelf-book-opt button {
    width: 150px;
    height: 30px;
    margin: 10px;
    border-radius: 0px;
    border: 1px solid #828282;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
}
.shelf-book-opt button:hover {
    background-color: #bebebe;
}
.hidden {
    visibility: hidden;
}
.addwindow {
    top: 200px;
    left: calc(50% - 350px);
}
.addwindow-container {
    display: flex;
}
.addwindow button {
    margin: 10px 0px 0px 0px;
}
.addwindow-preview {
    display: flex;
    flex-direction: column;
    width: 133px;
}
.addwindow form {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10px;
}
.addwindow form input {
    margin: 10px 0px 0px 0px;
}
.editwindow {
    width: 25%;
    left: 50%;
    top: 150px;
}
.editwindow-form {
    display: flex;
    flex-direction: column;
}
.editwindow-form input {
    margin: 10px 0px 0px 0px;
}
.editwindow button {
    margin: 10px 0px 0px 0px;
}
.modalwindow {
    border: 1px solid #000;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    font-family: Helvetica;
    padding: 10px;
    box-shadow: 5px 5px 10px #2c2c2c;
    text-align: right;
}
.modalwindow-heading {
    padding: 5px;
    background-color: #8d8d8d;
    text-align: left;
    color: white;
}
